h1 {
    text-align: center;
    font-weight: bold;
}

table {
    width: 35rem !important;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    background: darkgrey;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate !important;
}

th, td {
    padding: 15px;
}

button, input[type="submit"], .start-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    button:hover, input[type="submit"]:hover, .start-button:hover {
        background-color: #45a049;
    }