table, th, td
{
    border: 1px solid;
    text-align: center;
}

body
{
    background-color: grey;
    padding: 200px 500px;
}

tr:hover
{
    background-color: blue;
}

form
{
    background-color: lightgrey;
    text-align: center;
    padding: 20px 0px;
}

input:focus
{
    border: 3px solid #555;
}

input[type=TextBox]
{
    padding: 5px;
}